:root {
    --black: #000000;
    /*текст эйч*/
    --semi-black: rgba(0, 0, 0, 0.5);
    --white: #ffffff;
    /*фон, текст */
    --light-blue: #81b3d2;
    /*фон, кнопка найти-подробнее, стрелка нажатие*/
    --blue: #669ec0;
    /*наведение*/
    --dark-blue: #5496bd;
    /*нажатие*/
    --basic-grey: #eeeeee;
    --grey-1: #766357;
    /*кнопка заинтересовались-забронировать, кнопка рейтинг, "покой"*/
    --grey-dark-1: #604e43;
    /*agentнажатие*/
    --dark-grey: #333333;
    /*текст р и номера*/
    --grey-light-1: #eeeeee;
    /*фон 2го блока причин*/
    --grey-light-2: #f2f2f2;
    /*фон полей формы*/
    --grey-light-3: #cacaca;
    /*стрелка покой*/
    --grey: 0, 0, 0, 0.25;
    /*надписи покой*/
    --brown: #503e33;
    --grey-basic: #e5e5e5;
}

.page_body {
    width: 1280px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: "PTSans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--black);
    text-transform: uppercase;
    background-color: var(--basic-grey);
    /* grids */
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.page_body .headline {
    font-size: 21px;
    font-weight: 700;
}

.link {
    text-decoration: none;
    color: var(--black);
    font-weight: 700;
    grid-column: 1/4;
}

.contacts {
    font-size: 21px;
    line-height: 26px;
}


/* img {
    max-width: 100%;
    height: auto;
    /* display: block; 
} */

.wrapper {
    width: 1200px;
    margin: 0;
    padding: 0 40px;
    margin: 0 auto;
    /* outline: 5px solid black; */
}


/***************************************** background image ****************************/


/* .wrapper_block {
         outline: 5px solid red;
    }
     */

.wrapper_lead {
    /* outline: 5px solid black; */
    display: grid;
}

.main_block {
    /* border: 5px solid red; */
    width: auto;
    height: 509px;
    background: var(--grey-light-3) url("../img/index/background.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}

.welcome {
    width: 188px;
    height: 44px;
    margin: auto;
    /* outline: 5px solid red; */
}

.to_the {
    width: 256px;
    height: 28px;
    margin: auto;
    /* outline: 5px solid red; */
}

.sedona {
    width: 456px;
    height: 213px;
    margin: auto;
    /* outline: 5px solid red; */
}


/************************************ main navigation *******************************/

.main_header {
    margin-bottom: 70px;
    /* outline: 5px solid rgba(0, 255, 0, 0.7); */
    margin-bottom: 0;
}

.main_navigation {
    line-height: 26px;
    color: var(--main-black);
    background-color: var(--white);
    font-weight: 700;
    display: grid;
    grid-template-columns: 1fr min-content;
    margin: 0;
    position: relative;
}

.main_header_logo {
    width: 138px;
    height: 70px;
    order: 1;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    /* outline: 5px solid rgba(255, 0, 0, 0.3);
    outline-offset: -5px; */
}

.site_navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 72px;
    list-style: none;
    min-height: 58px;
    /* outline: 5px solid rgba(0, 255, 255, 0.3);
    outline-offset: -5px; */
}

.site_navigation-current a:not([href]) {
    background-color: var(--black);
}

.link_menu {
    display: flex;
    align-items: center;
    text-align: left;
}

.link:hover {
    color: var(--light-blue);
}

.link:active {
    color: var(--grey-light-3);
}

.link:focus {
    color: var(--grey-1);
}

.lead {
    text-align: center;
    line-height: 26px;
    background-color: var(--white);
}

.text_lead {
    color: var(--dark-grey);
    line-height: 26px;
}


/********************************features**************************/

.wrapper_features {
    outline: 5px solid black;
}

.features_list {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: 256px 330px 256px 256px;
    list-style: none;
    margin: 0;
    padding: 0;
}


/*li*/

.features_wide {
    background-color: var(--light-blue);
    color: var(--white);
    text-align: center;
}

.reason_1 {
    /* outline: 5px solid red;
    outline-offset: -5px; */
    grid-column: 1/2;
}

.reason_1_a {
    /* outline: 5px solid green;
    outline-offset: -5px; */
    grid-column: 2/4;
}

.text_wide {
    color: var(--white);
}

.features_item {
    text-align: center;
    background-color: var(--white);
    /* outline: 5px solid blue;
    outline-offset: -5px; */
}

.text_item {
    color: var(--dark-grey);
}


/*************************************Wide*************************/

.reason_2 {
    grid-column: 1/2;
}

.reason_2_a {
    grid-column: 2/4;
}


/*li*/

.features {
    /* outline: 5px solid red;
    outline-offset: -5px; */
    text-align: center;
}


/******************************************************** searching_form *****************************/

.wrapper_searching {
    /* outline: 5px solid black; */
    display: grid;
}

.form_close {
    margin-top: 58px;
    /* outline: 5px solid red;
    outline-offset: -5px; */
    justify-self: center;
}

.text_info {
    line-height: 24px;
    color: var(--dark-grey);
}

.searching {
    background-color: var(--white);
    text-align: center;
}

.searching_headline {
    font-size: 30px;
    line-height: 24px;
}

.button {
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: var(--white);
    font-weight: 700;
    border: none;
}

.button_search {
    background-color: var(--grey-1);
    width: 568px;
    height: 86px;
    font-size: 21px;
    line-height: 26px;
}

.button_search:hover {
    background-color: var(--grey-dark-1);
}

.button_search:active {
    background-color: var(--grey-dark-2);
}

.searching_form {
    line-height: 26px;
    font-weight: 700;
    width: 568px;
    height: 395px;
    justify-self: center;
    /* outline: 5px solid blue;
    outline-offset: -5px; */
}

.searching_date {
    width: 346px;
    height: 38px;
    margin: auto;
}

.searching_number {
    font-weight: 700;
    width: 114px;
    height: 38px;
    margin: auto;
    display: inline;
}

.field {
    background-color: var(--grey-light-2);
    font-weight: 700;
    border: none;
}

.plus_minus {
    text-align: center;
    width: 114px;
    margin: auto;
    border: none;
    background: url("../img/plus.svg") no-repeat right, url("../img/minus.svg") no-repeat left;
    background-color: var(--grey-light-2);
}

.icon_calendar {
    background: url("../img/calendar.svg") no-repeat right;
    background-color: var(--grey-light-2);
}

.field:hover {
    background-color: #ebebeb;
}

.field:focus {
    background-color: var(--white);
    border: 2px solid #e5e5e5;
}

.button_find {
    background-color: var(--light-blue);
    width: 458px;
    height: 58px;
    font-size: 21px;
    line-height: 26px;
}

.button_find:hover {
    background-color: var(--blue);
}

.button_find:active {
    background-color: var(--dark-blue);
}


/******************************************** map **************************/

.wrapper_map {
    outline: 5px solid black;
}


/******************************************* footer ***************************/

.main_footer {
    color: var(--black);
    background-color: var(--white);
    /* outline: 5px solid black;
    outline-offset: -5px; */
    display: grid;
    grid-template-columns: repeat(3, 400px);
    /* width: 1200px;
                            margin: 0, auto;
                             padding: 0 40px; */
}

.footer_contacts {
    text-align: center;
    /* outline: 5px solid red; */
}

.footer_social {
    text-align: center;
}

.footer_social ul {
    list-style: none;
}

.social_button {
    background-color: var(--light-blue);
}

.social_button:hover {
    background-color: var(--blue);
}

.social_button:active {
    background-color: var(--dark-blue);
}

.footer_copyright {
    line-height: 26px;
    text-align: right;
    /* text-align: center; */
    margin-bottom: 48px;
    margin-right: 131px;
    margin-top: 49px;
}

.footer_copyright:hover {
    color: var(--light-blue);
}

.footer_copyright:active {
    color: var(--dark-blue);
}


/******************************************************catalog************************************/

.inner_block {
    width: 1200px;
    height: auto;
    background: var(--grey-light-3) url("../img/catalog/background.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--white);
    background-color: var(--white);
    min-height: 100%;
    /* display: grid;
    align-content: start; */
}

.filter_form {
    min-height: 100%;
    height: 217px;
    display: grid;
    grid-template-columns: 320px 320px auto;
}

.filter {
    border: none;
    margin-bottom: 31px;
    margin-top: 27px;
}

.filter_include {
    margin-left: 72px;
    text-align: justify;
}

.filter_description {
    /* grid-column: 2/3; */
    margin-left: 72px;
}

.filter_price {
    grid-column: 3/4;
    margin-left: 72px;
}

.filter .headline {
    font-size: 16px;
    font-weight: 700;
}

.checkbox_on {
    text-align: left;
    /* text-align: left;
                                width: 26px;
                                margin: auto;
                                    border: none;
                                background: url("../img/catalog/icons/checkbox-on.svg") no-repeat left; */
}


/* .checkbox_off {} */


/* section */

.sort {
    min-height: 87px;
    font-size: 12px;
    line-height: 18px;
    color: var(--black);
    background-color: var(--white);
    margin-bottom: 37px;
    margin: 0 auto;
    border-bottom: 1px solid #e5e5e5;
}

.sort_wrapper {
    width: 1200px;
    height: 87px;
    display: grid;
    /* grid-template-columns: 212px 117px 90px 80px 160px 540px; */
    grid-template-columns: 72px 163px 117px 79px 82px 503px 110px 73px;
    list-style: none;
}


/*h2*/

.sort_headline {
    font-size: 21px;
    line-height: 26px;
}

.sort_filter_text {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
}


/*ul*/

.sort_filter {
    list-style: none;
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;
    display: grid;
    grid-template-columns: 117px 79px 82px 90px 200px 200px;
}

.find {
    grid-column: 2/3;
}

.sort_price {
    grid-column: 1/2;
}

.sort_type {
    grid-column: 2/3;
}

.sort_rang {
    grid-column: 3/5;
}


/*a*/

.sort_link {
    text-decoration: underline;
    color: var(--semi-black);
}

.sort_link:hover {
    color: var(--light-blue);
    text-decoration: underline;
}

.sort_link:active {
    color: var(--black);
    text-decoration: none;
}

.sort_link:focus {
    color: var(--light-blue);
    text-decoration: none;
}

.arrow {
    text-align: center;
    grid-column: 6/7;
}


/*************************************************** List 0f houses *******************************/

.list {
    color: var(--black);
    background-color: var(--white);
}

.list_of_houses {
    display: grid;
    grid-template-columns: 135px 1fr min-content;
    grid-template-rows: 60px 60px;
    grid-column-gap: 28px;
    max-width: 1200px;
    list-style: none;
    text-decoration: none;
    line-height: 0;
    /* padding-left: 72px; */
    /* padding-right: 72px; */
    /* margin-bottom: 30px; */
    /* padding-bottom: 30px */
    /* height: 150px; */
    border-bottom: 1px solid #e5e5e5;
}


/**************column************/

.picture_1 {
    /* grid-column: 1/2; */
    /* grid-row: 1/3; */
    /************************flex**************/
    margin-top: 30px;
    /* margin-bottom: 31px; */
    /* justify-self: center; */
    /* grid-column: 1/2; */
    /* grid-row: 1/3; */
    width: 135px;
    height: 90px;
}

.name_hotel {
    grid-column: 2/4;
    grid-row: 1/2;
    /************************flex**************/
    /* margin-top: 30px; */
    /* margin-bottom: 6px;*/
}

.type_house {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-rows: auto auto auto;
    grid-column-gap: 6px;
    grid-column: 2/4;
    grid-row: 2/3;
    width: 300px;
    /**********************flex***************/
    /* display: flex; */
    /* flex-direction: row; */
}

.button_house {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.button_rating {
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
    background-color: var(--grey-light-2);
    color: var(--semi-black);
    font-weight: 400;
    grid-row: 3/4;
}

.rating_stars {
    display: grid;
    grid-template-columns: min-content;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column: 3/4;
    grid-row: 1/3;
    /* grid-column: 3/4;
    grid-row: 1/2; */
}


/************************/

.text_list {
    color: var(--dark-grey);
}


/*a h3*/

.list_link {
    font-size: 21px;
    line-height: 26px;
    color: var(--black);
    text-decoration: none;
}

.button_inner {
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: var(--white);
    font-weight: 700;
    border: none;
}

.button_details {
    background-color: var(--light-blue);
    width: 110px;
    line-height: 27px;
    /* padding: 5px 10px; */
    text-decoration: none;
    text-align: center;
    /* grid-column: 4/5;
    grid-row: 4/5; */
}

.button_details:hover {
    background-color: var(--blue);
}

.button_details:active {
    background-color: var(--dark-blue);
}

.button_reserv {
    background-color: var(--grey-1);
    width: 142px;
    height: 27px;
    /* grid-column: 6/7;
    grid-row: 4/5; */
}

.button_reserv:hover {
    background-color: var(--grey-dark-1);
}

.button_reserv:active {
    background-color: var(--brown);
}